# Dependency directories
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build files
dist
dist-ssr

# Logs
*.local
*-debug.log

# Compiled JavaScript files
*/**/lib/**/*.js
*/**/lib/**/*.js.map
.firebaserc

# TypeScript v1 declaration files
typings/

# Others
specs.md
/tmp
/out-tsc



.nx/cache
.nx/workspace-data
vite.config.*.timestamp*
vitest.config.*.timestamp*

.env.*